body {
   background-color: green;
   color: white;
   margin: 3%;
   margin-top: 10%;
   font-size: 20px;
   text-align: center;
}

*:focus {
   border: 2px solid black;
}

h1 {
   font-size: 60px;
   text-decoration: underline;
   text-decoration-thickness: 4px;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
}

h2 {
   font-size: 50px;
   text-decoration: underline;
   text-decoration-thickness: 4px;
   font-family: 'Times New Roman', Times, serif;
   color: azure
}

h3 {
   font-size: 40px;
   text-decoration: underline;
   text-decoration-thickness: 4px;
   font-family: 'Times New Roman', Times, serif;
   color: azure;
}

p {
   line-height: 150%;
}

img {
   border: 5px solid rgb(179, 255, 198);
   padding: 5px;
   border-top-right-radius: 30px 30px;
   border-bottom-left-radius: 30px 30px;
}

nav li {
   display: inline;
}

nav {
   text-align: left;
}

hr {
   color: black;
   size: 10px;
   border-style: inset;
   border-width: 1px;
}

#jump {
   position: absolute;
   top: -500px;
}

#jump:focus {
   top: 10px;
}

.pet_gallery {
   text-align: center;
}

.main_img {
   display: block;
   margin: auto;
   width: 400px;
}

.sub_img {
   width: 200px;
}

.food_info {
   text-align: center;
}

.grid {
   display: grid;
   grid-template-columns: 1fr;
   justify-content: space-evenly;
   justify-items: center;
   align-content: space-evenly;
   align-items: center;
   grid-row-gap: 5px;
}

.travel_main_img_static {
   width: 400px;
   display: none;
}

.travel_main_img_gif {
   width: 400px;
}

.petsBar {
   display: none;
}

.inputs {
   display: none;
}

#temp {
   display: none;
}

@media (prefers-reduced-motion: reduce) {
   .travel_main_img_gif {
      display: none;
   }

   .travel_main_img_static-image {
      display: block;
   }
}

@media screen and (min-width: 800px) {
   body {
      text-align: center;
      font-size: 30px;
      margin: 3%;
   }

   .petsBar {
      display: inline-block;
   }

   .petsBar a {
      color: black;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 5px 7px;
      position: relative;
      background-color: rgb(179, 255, 198);
   }

   .inputs {
      display: inline-block;
   }

   #temp {
      display: block;
   }

   .grid {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      justify-content: space-around;
   }

   nav {
      text-align: right;
   }

   .main_img {
      display: block;
      margin: auto;
      width: 500px;
   }

   .sub_img {
      width: 250px;
   }

   #jump {
      position: relative;
      text-align: left;
      top: -500px;
   }

   .travelGrid figure {
      text-align: left;
      clear: both;
      margin-right: 5%;
   }

   .travelGrid figure:nth-child(even) {
      text-align: right;
      margin-right: 0;
      margin-left: 5%;
   }

   .inputs input[type="text"] {
      height: 3.5rem;
      width: 20rem;
      background: #212121;
      font-weight: bold;
      padding: 10px;
      border: none;
      background-color: transparent;
      border: 2px solid #c2c2c2;
      border-radius: 2px;
      margin-right: 4px;
   }

   .inputs input[type="submit"] {
      height: 3.2rem;
      width: 6.5rem;
      background: rgb(179, 255, 198);
      font-weight: bold;
      color: black;
      font-size: 1.2rem;
      margin-top: 20px;
      border: none;
      border-radius: 2px;
   }

}